.input-container {
  background-color:rgb(206, 206, 89);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.input-fields {
  display: block;
  background-color: #8dcfaf;
   padding-top: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 1.5%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  .button {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    .btn {
      background-color: blue;
      color: white;
    }
  }
}

.datepicker {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .label {
    width: 34%;
  }
  @media screen and (max-width: 480px) {
    padding: 10px;
    display: block;
    .label {
      width: 34%;
    }
    .react-datepicker-wrapper {
      padding-left: 21px;
    }
  }
}

.select-div {
  padding-top: 10px;
  padding-bottom: 10px;
  .label {
    width: 35%;
    padding-left: 10px;
  }
  .select {
    width: 69%;
    height: 35px;
    margin-left: 48px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 10px;
  padding-bottom: 10px;
  .label {
    display: block;
    width: 20%;
    padding-left: 10px;
  }
  .select {
    width: 81%;
    height: 32px;
    margin-left: 29px;
  }
  }
}

.text-font{
  font-family:courier;
  font-style: normal;
  font-variant: small-caps;
}