.container-dash{
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-dash .navbar {
    height: 100vh;
    background-color: #6289e6 !important;
  }
.text-color{
    color: white !important;
    font-size: 20px !important;
     font-weight: 400;
}


.sidebar{
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.content{
    height: 150vh;  /** just to make it scrollable. can be removed */
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding-left: calc(16.2% + 3px) ;
  //padding: 6px 6px 6px calc(17% + 6px)
}

.navs{
    list-style-type: none !important;
    background-color: #6289e6 !important;
    padding-top: 10px;
}
.navs a {
    border-bottom: 1px solid #6a92ee;
    border-top: 1px solid #557ddb;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}
h4{
    color: #557ddb !important;
    text-align:center;
    height: 10vh;
}
 @media screen and (max-width: 1200px) {
    .navs a {
        border-bottom: 0.1px solid #6a92ee;
        border-top: 0.1px solid #557ddb;
        color: #ffffff;
        display: block;
        font-size: 15px !important;
        font-weight: 400;
        padding: 20px 14px;
        text-decoration: none;
    }
    
    .text-color{
        color: white !important;
        font-size: 14px !important;
        font-weight: 400;
    }
}

.navs a:hover {
    background: #4668b8 none repeat scroll 0 0;
    display: block;
}

.nav-bar{

    height: 100vh;
}

#offcanvasNavbar{
    width: 20%;
}

.sidebar h4{
    text-align:center;
    height: 10vh;
    color: white !important;
}

.header{
    position: sticky;
    margin-top:0px;
    top: 0;
    width: 100%;
    height: 11.7vh;
    background-color:burlywood !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.drop-down > button{
    background-color: rgb(132, 121, 224) !important;
    border-color: rgb(132, 121, 224) !important;
}

.drop-down > button:hover{
    background-color: rgb(132, 121, 224) !important;
    border-color: rgb(132, 121, 224) !important;
    color: white !important;
}