.container-dash{
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-dash .navbar {
    height: 100vh;
    background-color: #6289e6 !important;
  }
.text-color{
    color: white !important;
    font-size: 20px !important;
     font-weight: 400;
}


.sidebar{
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
}

.content{
    height: 150vh;  /** just to make it scrollable. can be removed */
  min-height: 100vh;
  padding-top: 1%;
  position: relative;
  width: 100%;
  padding: 16px 16px 16px calc(25% + 16px)
}

.navs{
    list-style-type: none !important;
    background-color: #6289e6 !important;
}
.navs a {
    border-bottom: 1px solid #6a92ee;
    border-top: 1px solid #557ddb;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}
 @media screen and (max-width: 1200px) {
    .navs a {
        border-bottom: 0.1px solid #6a92ee;
        border-top: 0.1px solid #557ddb;
        color: #ffffff;
        display: block;
        font-size: 15px !important;
        font-weight: 400;
        padding: 20px 14px;
        text-decoration: none;
    }
    
    .text-color{
        color: white !important;
        font-size: 14px !important;
        font-weight: 400;
    }
}

.navs a:hover {
    background: #4668b8 none repeat scroll 0 0;
    display: block;
}

.nav-bar{
   
    height: 100vh;
}

#offcanvasNavbar{
    width: 20%;
}

.nav-head{
    text-align:"cente";
    background-color:rgb(132, 121, 224) !important;
    color: black !important;
}