.input-container {
  background-image: url("../../CM-Apps-APK.png");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.input-fields {
  display: block;
  background-color: #9a9aca;
  border-radius: 1.5%;
  padding : 24px 10px 10px 10px;
  .button {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    .btn {
      background-color: blue;
      color: white;
    }
  }
}

.datepicker {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .label {
    width: 34%;
  }
  .dates{
    width: 100%;
    
    background-color: white;
  }
 .react-date-picker__calendar--open{
height: 770%;
  }
  @media screen and (max-width: 480px) {
    padding: 10px;
    display: block;
    .label {
      display: block;
      width: 34%;
    }
    .dates{
      margin-left: 17px;
      width: 92%;
      background-color: white;
    }
    .react-datepicker-wrapper {
      padding-left: 21px;
    }
  }
}

.select-div {
  padding-top: 10px;
  padding-bottom: 10px;
  .label {
    width: 35%;
    padding-left: 10px;
  }
  .select {
    width: 69%;
    height: 35px;
    margin-left: 48px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 10px;
  padding-bottom: 10px;
  .label {
    display: block;
    width: 20%;
    padding-left: 10px;
  }
  .select {
    width: 81%;
    height: 32px;
    margin-left: 29px;
  }
  }
}

.text-font{
  font-family:courier;
  font-style: normal;
  font-variant: small-caps;
}


.edit-button {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  .btn {
    background-color: blue;
    color: white;
  }
}

.social{
  display:flex;
  justify-content: space-around;
  .button{
    height: 50% !important;
  }
  .microsoft-btn{
    display:flex;
    justify-content: space-between;
    background-color: white;
    height: 7.5vh;
    border-radius: 2px;
    padding: 12px 10px 10px 0px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
      font-weight: 500;
      font-family: Roboto, sans-serif;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    .microsoft-btn >div{
      padding-left: 5px;
    }
  }
 
}

